<div class="row bg-warning p-2 px-3">
    <div class="col-12">
        <p class="h2">This is the {{title}}</p>
        <ul class="list-inline text-center">
            <li class="list-inline-item  p-2">
                <a href="/">Home</a>
            </li>
            <li class="list-inline-item p-2">
                <a href="/help">Help</a>
            </li>
            <li class="list-inline-item p-2">
                <a href="/about">About</a>
            </li>
        </ul>
    </div>
</div>